# Logs
*.log
logs/
**/logs/

# Airflow logs
airflow/logs/
airflow-docker/logs/

# Spark output
output/
checkpoint/
*.parquet

# Spark temporary files
_SUCCESS
*.crc

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Environment
.env